.filters {
    max-width: 1200px;
    margin: 20px auto;
    padding-left: 20px;
  }
  
  ::ng-deep {
    .mat-form-field-infix {
      background-color: #3f51b5;
    }
  
    .mat-select-value,
    .mat-select-arrow,
    .mat-form-field-hide-placeholder .mat-select-placeholder,
    .mat-form-field-appearance-legacy .mat-form-field-label {
      color: #fff !important;
      opacity: 1;
    }
  
    .mat-form-field-infix {
      border-color: #fff !important;
      border-top: none;
      padding-left: 5px !important;
    }
  
    .mat-form-field-appearance-legacy .mat-form-field-label {
      padding-left: 5px;
    }
  
    .mat-form-field-appearance-legacy .mat-form-field-underline {
      background-color: #fff !important;
    }
  }


  .movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
    margin: 20px auto;
  }


  .movie {
  width: 250px;
  margin: 10px;
  height: 380px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  background-color: #202020;
  box-shadow: 4px 3px 8px 0px rgba(108, 161, 85, 0.22);
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 4px 3px 11px 6px rgba(63, 81, 181, 0.22);
    transform: translateY(-3px);
  }

  &-thumb-container {
    background-color: #000;
    position: relative;
    height: 100%;
    color: #fff;
    text-align: center;
  }

  &-thumbnail {
    display: block;
    height: 100%;
  }

  &-overlay{
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:hover{
      opacity: 1;
    }
    

  }

  &-description {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  &-name {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    white-space: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-rating {
    color: rgb(221, 218, 11);
    font-weight: 450;
    font-size: 30px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 10px;
    overflow: hidden;
  }

  &-platforms {
    display: flex;
  }

  &-platform {
    width: 20px;
    margin-right: 10px;
  }
}

.load {

  &-container{
    display: flex;  
    justify-content: center;  
    align-items: center;  
  }

  &-button {
    border: none;
    outline: none;
    background: #3f51b5;
    padding: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
    font-weight: 700;
    transition-duration: 0.3s;
    cursor: pointer;

    &:hover {
      color: #3f51b5;
      background-color: #fff;
      border: 1px solid #3f51b5;
    }
  }
}
