.details-wrapper {
    max-width: 900px;
    margin: 20px auto;
    position: relative;
  }
  
  .details {
    ::ng-deep mwl-gauge {
      width: 150px;
      height: 150px;
      display: block;
      padding: 10px;
  
      .dial {
        stroke-width: 10;
      }
  
      .value {
        stroke-dasharray: none;
        stroke-width: 13;
      }
  
      .value-text {
        fill: #fff;
        font-weight: 700;
        font-size: 24px;
      }
    }
  

  }
  
  .movie {
    &-banner {
      height: 442px;
      overflow: hidden;
  
      &-img {
        width: 100%;
        filter: blur(5px);
      }
      
    }
  
    &-content {
      text-align: center;
      position: relative;
      top: -200px;

    }
  
    &-header {
      &-title {
        font-size: 70px;
        color: #fff;
        text-shadow: -4px -0px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        font-weight: 700;
        line-height: 70px;
        white-space: nowrap;
        align-items: center;
        
      }
  
      &-release-date {
        color: #fff;
        font-weight: 700;
      }

    }

    &-thumb-container {
      height: 300px;
      color: #fff;
      text-align: center;
    }
  
    &-thumbnail {
      display: block;
      height: 100%;
      border-radius: 5px;
    }
  }

  